assets/bootstrap/NashNetworkScanner.bsdesign
.idea/workspace.xml
assets/AgentFile/AgentDownload/.vs/AgentDownload/DesignTimeBuild/.dtbcache.v2
assets/AgentFile/AgentDownload/.vs/AgentDownload/v17/.futdcache.v1
assets/AgentFile/AgentDownload/.vs/AgentDownload/v17/.suo
.idea/workspace.xml
